    body {
        // background-image: url(../media/img1.jpg);
        background-size: cover;
        margin: 30px;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    }
    
    a {
        color: #040a0f;
        text-decoration: none;
        background-color: transparent;
        font-size: 15px;
    }
    
    a:hover {
        color: #040a0f;
        text-decoration: underline;
    }
    
    #mundo {
        width: 17px;
        height: 17px;
    }
    
    h1 {
        color: black;
        margin: 20px;
        padding: 20px;
        font-size: 40px;
        text-align: left;
        justify-content: left;
    }
    
    .card {
        display: inline-block;
    }
    
    #logomenu {
        text-align: left;
    }
    
    #form {
        width: 500px;
        height: 410px;
        background-color: white;
    }
    
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: rgb(14, 12, 12);
        background-color: rgba(255, 255, 255, 0.877);
        border-radius: 20px;
        font-size: 15px;
        border: 3px double #f4f7f4;
    }
    
    ._9bj9d5 {
        font-size: 10px;
        line-height: 12px;
        font-weight: 800;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        padding-bottom: 4px;
    }
    
    ._1spzot3 {
        display: block;
        border: 0px;
        margin: 0px;
        padding: 0px;
        width: 100% !important;
        background: none !important;
        font-size: 14px !important;
        line-height: 18px !important;
        font-weight: 600 !important;
        color: #ada2a2 !important;
        text-overflow: ellipsis !important;
    }
    
    ._qiizeo {
        margin: -1px !important;
        position: relative !important;
        width: 380px;
        display: block;
    }
    
    ._qiizeo:hover {
        color: rgb(12, 10, 10) !important;
        box-shadow: 0 4px 16px rgb(184, 190, 190);
        transition: all 0.2s ease;
    }
    
    ._9bj9d5 {
        font-size: 10px !important;
        line-height: 12px !important;
        font-weight: 800 !important;
        letter-spacing: 0.04em !important;
        text-transform: uppercase !important;
        padding-bottom: 4px !important;
    }
    
    ._4poulv {
        font-size: 14px !important;
        line-height: 18px !important;
        font-weight: 400 !important;
        color: #222222 !important;
        opacity: 0.7 !important;
    }
    
    ._1pgkncf {
        -ms-grid-row-align: center !important;
        -ms-flex-item-align: center !important;
        -webkit-align-self: center !important;
        align-self: center !important;
        border-right: 1px solid #DDDDDD;
        -webkit-flex: 0 1 0px;
        -ms-flex: 0 1 0px;
        flex: 0 1 0px;
        height: 44px t;
    }
    
    ._esmga25 {
        border-color: rgba(250, 244, 244, 0.829);
        background-color: rgba(255, 255, 255, 0.877);
        color: inherit;
        cursor: pointer;
        margin: 3px;
        padding: 18px;
        text-align: left;
        text-decoration: none;
        width: 100%;
        border-radius: 12px t;
        border: 6px double #f4f7f4;
    }
    
    ._h6px0p {
        margin-left: 12px;
        padding: 15px;
        width: 80px;
    }
    
    ._163rr5i {
        position: absolute !important;
        top: 0px !important;
        left: 0px !important;
        right: 0px !important;
        bottom: 0px !important;
        width: 100% !important;
        height: 100% !important;
        overflow: hidden !important;
        border-radius: 8px !important;
    }
    
    ._jpp2dbp {
        display: inline-block;
        margin: 0px;
        position: relative;
        text-align: left;
        text-decoration: none;
        border-color: black;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        border-radius: 8px;
        border-width: 1px;
        border-style: solid;
        outline: none;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 28px;
        padding-right: 24px;
        background: #E01760;
        color: #FFFFFF;
    }