    body {
        background-size: cover;
        margin: 30px;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    }
    
    a {
        color: #040a0f;
        text-decoration: none;
        background-color: transparent;
        font-size: 15px;
    }
    
    a:hover {
        color: #040a0f;
        text-decoration: underline;
    }
    
    #mundo {
        width: 17px;
        height: 17px;
    }
    
    #logomenu {
        text-align: left;
    }
    
    #form {
        width: 500px;
        height: 410px;
        background-color: white;
    }
    
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: rgb(14, 12, 12);
        background-color: rgba(255, 255, 255, 0.877);
        border-radius: 20px;
        font-size: 15px;
        border: 3px double #f4f7f4;
    }
    
    ._9bj9d5 {
        font-size: 10px;
        line-height: 12px;
        font-weight: 800;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        padding-bottom: 4px;
    }
    
    ._1spzot3 {
        display: block;
        border: 0px;
        margin: 0px;
        padding: 0px;
        width: 100%;
        background: none;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        color: #ada2a2;
        text-overflow: ellipsis;
    }
    
    ._qiizeo {
        margin: -1px;
        position: relative;
        width: 380px;
        display: block;
    }
    
    ._qiizeo:hover {
        color: rgb(12, 10, 10);
        box-shadow: 0 4px 16px rgb(184, 190, 190);
        transition: all 0.2s ease;
    }
    
    ._9bj9d5 {
        font-size: 10px;
        line-height: 12px;
        font-weight: 800;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        padding-bottom: 4px;
    }
    
    ._4poulv {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #222222;
        opacity: 0.7;
    }
    
    ._1pgkncf {
        -ms-grid-row-align: center;
        -ms-flex-item-align: center;
        -webkit-align-self: center;
        align-self: center;
        border-right: 1px solid #DDDDDD;
        -webkit-flex: 0 1 0px;
        -ms-flex: 0 1 0px;
        flex: 0 1 0px;
        height: 44px t;
    }
    
    ._esmga25 {
        border-color: rgba(250, 244, 244, 0.829);
        background-color: rgba(255, 255, 255, 0.877);
        color: inherit;
        margin: 3px;
        padding: 18px;
        text-align: left;
        text-decoration: none;
        width: 100%;
        border-radius: 12px;
        border: 6px double #f4f7f4;
    }
    
    ._h6px0p {
        margin-left: 12px;
        padding: 15px;
        width: 80px;
    }
    
    ._163rr5i {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 8px;
    }
    
    ._jpp2dbp {
        display: inline-block;
        margin: 0px;
        position: relative;
        text-align: left;
        text-decoration: none;
        border-color: black;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        border-radius: 8px;
        border-width: 1px;
        border-style: solid;
        outline: none;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 28px;
        padding-right: 24px;
        background: #E01760;
        color: #FFFFFF;
    }
    
    .text {
        font-size: 3em;
        line-height: 57px;
        color: #9B184F;
    }
    
    .divtext {
        width: 55%;
        margin: auto 0;
        padding-right: 55px;
    }
    
    .card {
        position: relative;
        display: inline-block;
        flex-direction: column;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 3px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.80rem;
        margin: 20px;
        width: 100px;
    }
    
    .card-title {
        color: #222222;
    }
    
    .alert {
        margin-top: -30px;
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
    }
    
    .alert-primary {
        color: #222222;
        background-color: #F7F7F7;
        border-color: #F7F7F7;
    }
    
    .btnalert {
        display: inline-block;
        border: none;
        color: #080808;
        text-decoration: underline;
        background-color: #F7F7F7;
    }
    
    .fondo {
        background-color: black;
    }
    
    .div-conteiner {
        position: relative;
        padding: 2.75rem 1.25rem;
    }
    
    .text2 {
        color: white;
        font-size: 30px;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    }
    
    .text3 {
        color: white;
        font-size: 14px;
        width: 550px;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        display: inline-block;
    }
    
    .btn-secondary {
        color: #fff;
        background-color: black;
        border-color: #6c757d;
    }
    
    .div-btn {
        display: inline-block;
        border: none;
    }
    
    .card1 {
        position: relative;
        display: inline-block;
        flex-direction: column;
        word-wrap: break-word;
        background-color: black;
        background-clip: border-box;
        border: 3px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.90rem;
        margin: 20px;
        width: 100px;
    }
    
    .card-body1 {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
        background-color: #222222;
    }
    
    .card-title1 {
        color: white;
        font-size: 16px;
    }
    
    .btncard {
        border: none;
        background: none;
    }
    
    .card2 {
        position: relative;
        display: inline-block;
        flex-direction: column;
        word-wrap: break-word;
        background-color: black;
        background-clip: border-box;
        border: 3px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.90rem;
        margin: 20px;
        width: 100px;
    }
    
    .card-body2 {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
        background-color: #222222;
    }
    
    .card-title2 {
        color: white;
        font-size: 16px;
    }
    
    .text4 {
        padding-right: 50px;
        margin-top: 50px;
        margin-left: 40px;
        color: black;
        font-size: 16px;
        width: 550px;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        display: inline-block;
    }
    
    .text5 {
        color: black;
        font-size: 19px;
        width: 550px;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        display: inline-block;
    }
    
    .btnpar {
        color: #040a0f;
        text-decoration: none;
        font-size: 15px;
        border-radius: 8px;
    }
    
    .ptext {
        border-bottom: solid 1px black;
        display: flex;
        position: relative;
        box-sizing: border-box;
    }